@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
:root {
    --eggColor: hsl(7, 99%, 70%);
    --lampColor: hsl(51, 100%, 49%);
    --cherryColor: hsl(167, 40%, 24%);
    --orangeColor: hsl(198, 62%, 26%);
    --footerColor: #91D3C5;
    --footerText: hsl(168, 34%, 41%);
    --textColor1: hsl(212, 27%, 19%);
    --textColor2: hsl(213, 9%, 39%);
    --textColor3: hsl(232, 10%, 55%);
    --textColor4: hsl(210, 4%, 67%);
    --whiteColor: hsl(0, 0%, 100%);
    --font1: 'Barlow', sans-serif;
    font-weight: 600;
    --font2: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    color: #fff;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1px;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

p {
    font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font2);
}

body {
    background-color: #FFF;
    width: 1440px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#logo {
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
}


/* Navigation */

nav {
    /* background-color: transparent; */
    background-color: #3EBFFF;
    padding: 40px 40px 0 40px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    text-align: center;
}

nav ul a {
    padding: 0 30px;
    text-decoration: none;
    font-family: var(--font1);
}

#contact {
    background-color: #fff;
    color: var(--textColor1);
    padding: 15px 30px;
    border-radius: 30px;
    font-family: var(--font2);
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 25px;
}

.hamburger {
    display: none;
}

.dropdown {
    position: relative;
    /* display: inline-block; */
}


/* .dropdown a {
    margin-top: 0;
    padding: 0;
} */


/* .dropdown a:hover {
    margin-top: 0px;
    padding: 0px;
    left: -24px !important;
    top: 0px;
    right: 0px;
} */

.drop-btn {
    background-color: transparent;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Header Section */

header {
    background-image: url(./images/desktop/image-header.jpg);
    background-position: bottom;
    background-size: cover;
    /* background-color: #3EBFFF; */
    justify-content: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 auto;
    padding-top: 100px;
}

#arrow {
    padding-top: 4em;
    padding-bottom: 17em;
}


/* Section 2 */

.learn-more {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    width: 1440px;
}

.learn-more h2 {
    color: var(--textColor1);
}

.learn-more p {
    color: var(--textColor3);
    font-family: var(--font1);
}

.first-line {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0;
}

.second-line {
    display: flex;
    flex-direction: row;
}

.center-image {
    width: 720px;
    height: 600px;
}

.center-text {
    width: 720px;
    margin: 0;
}

.center-text h1 {
    color: var(--textColor1);
    font-weight: 900;
}

#transform-text {
    margin: auto 0;
    padding-left: 160px;
    padding-right: 100px;
}

#transform-text h5 a {
    text-transform: uppercase;
    color: var(--textColor1);
    font-weight: 900;
    text-decoration: underline double var(--lampColor);
}

#standout-text {
    margin: auto 0;
    padding-left: 100px;
    padding-right: 160px;
}

#standout-text h5 a {
    text-transform: uppercase;
    color: var(--textColor1);
    font-weight: 900;
    text-decoration: underline double var(--eggColor);
}


/* Section 2+ */

.third-line {
    display: flex;
    flex-direction: row;
}

.text-in {
    margin: -200px 150px 50px 150px;
    text-align: center;
    line-height: 1.5;
}

.text-in h2 {
    font-weight: 900;
}

.text-in p {
    font-family: var(--font1);
}

#graphic-design h2,
#graphic-design p {
    color: var(--cherryColor);
}

#photography h2,
#photography p {
    color: var(--orangeColor);
}

.learn-again {
    margin-bottom: 0;
}


/* Testimonial Section */

.testimonials h3 {
    color: var(--textColor4);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 900;
    margin-top: 120px;
    margin-bottom: 70px;
}

.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    line-height: 1.5;
}

.clients img {
    border-radius: 50%;
    width: 50px;
}

.client p {
    color: var(--textColor2);
    font-family: var(--font1);
    margin: 30px 60px;
}

.clients h5 {
    color: var(--textColor1);
    font-weight: 900;
    font-family: var(--font2);
    margin-bottom: 5px;
}

.clients h6 {
    font-family: var(--font1);
    color: var(--textColor4);
    margin-top: 5px;
    margin-bottom: 150px;
}


/* Gallery Section */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery img {
    width: 100%;
}


/* Footer Section */

footer {
    background-color: var(--footerColor);
    text-align: center;
}

footer img {
    margin-top: 50px;
    margin-bottom: 30px;
}

.link ul,
.social-icon ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.link ul a {
    text-decoration: none;
    font-family: var(--font1);
    color: var(--footerText);
    padding: 30px;
}

.social-icon ul a {
    padding: 20px;
}

.fab {
    color: var(--footerText);
    font-size: 25px;
    margin: 30px 0;
}

.social-icon a:hover .fab {
    color: #FFF;
}

.link ul a:hover {
    color: white;
}

.social-icon ul a:hover {
    fill: white;
}

@media screen and (max-width:1000px) {
    body {
        width: 100%;
    }
    #arrow {
        padding-top: 1em;
        padding-bottom: 11em;
    }
    .center-image {
        width: 100%;
    }
    .center-text {
        width: 720px;
        height: 720px;
        padding: 15% 10%;
    }
    #transform-text {
        padding: 40% 10% 45% 5%;
    }
    #standout-text {
        padding: 40% 5% 45% 10%;
    }
    .first-line,
    .second-line,
    .third-line {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #img-lamp,
    #img-egg,
    #img-cherry,
    #img-orange {
        width: 100%;
        height: 100%;
    }
    .learn-more {
        width: 100%;
    }
    .text-in {
        margin: -16em 10em 1em 10em;
        padding: 20px 40px;
    }
    .gallery img {
        width: 100%;
    }
    .testimonials {
        margin-top: 0;
    }
    .testimonials h3 {
        margin: 100px auto;
    }
    .clients {
        grid-template-columns: 1fr;
    }
    .client {
        padding: 0 100px;
        margin: 0 50px;
    }
}

@media screen and (max-width:750px) {
    #logo {
        margin-left: 0;
    }
    nav ul {
        flex-direction: column;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }
    .drop-content {
        display: none;
        position: absolute;
        top: 20px;
        right: 0;
        background-color: #FFF;
        min-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .drop-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .drop-content a:hover {
        background-color: #f1f1f1;
    }
    .dropdown:active .drop-content {
        display: block;
        position: absolute;
    }
    .dropdown:hover .drop-btn {
        /* background-color: transparent; */
        position: absolute;
    }
    .sandwich {
        overflow: hidden;
        position: relative;
        transition: max-height 650ms;
        display: none;
    }
    .sandwich ul {
        padding: 0;
    }
    #contact {
        margin: 0 50px;
        background-color: var(--lampColor);
        color: var(--textColor1);
    }
    header h1 {
        font-size: 2.5em;
    }
    #arrow {
        padding-bottom: 10em;
    }
    #transform-text,
    #standout-text {
        padding: 6em;
        height: unset;
    }
    #img-lamp,
    #img-egg,
    #img-cherry,
    #img-orange {
        object-fit: cover;
        width: 100%;
    }
    .text-in {
        margin: -12em 6em 0 6em;
        padding: 0;
    }
    .client {
        margin: 0 4em;
        padding: 0;
    }
}

@media screen and (max-width:375px) {
    body {
        width: auto;
    }
    p {
        line-height: 1.5em;
    }
    #arrow {
        padding-bottom: 12em;
    }
    .sandwich ul li a {
        font-size: .8em;
        color: var(--textColor3);
    }
    .first-line,
    .second-line,
    .third-line {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 375px;
        height: auto;
    }
    .center-image {
        height: 300px;
    }
    .center-text {
        height: 375px;
        padding: 0;
    }
    #transform-text,
    #standout-text {
        padding: 10%;
    }
    #img-cherry,
    #img-orange {
        height: auto;
        width: 100%;
    }
    .long-image {
        margin-bottom: 0;
    }
    .text-in {
        margin: -10em;
        padding: 0 11em;
    }
    .testimonials h3 {
        margin: 8em auto 3em;
        padding: 0;
    }
    .clients {
        display: flex;
        flex-flow: column;
    }
    .client {
        margin: 0;
        padding: 0;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}